@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-background text-slate-900 antialiased transition-colors duration-300;
}

body.dark {
  @apply bg-background-dark text-slate-100;
}

#root {
  min-height: 100vh;
  width: 100%;
}
